<!DOCTYPE html>
<html>
  <head>
    <title>Online Python - Admin console</title>
    <link href="/public/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="/public/codemirror/lib/codemirror.css">
	<script src="/public/codemirror/lib/codemirror.js"></script>
	<script src="/public/codemirror/mode/python/python.js"></script>
	<script>
		function editor(id) {
			CodeMirror.fromTextArea(document.getElementById(id), {
				lineNumbers: true,
				tabMode: "indent",
				mode: "python",
				readOnly: true
			});
		}
		function loadEditors() {
			{% for solution in solutions %}
			editor('editor{{ solution.id }}');
			{% endfor %}
		}
	</script>
  </head>
  <body onload="loadEditors()">
	<div class="container">
		<span class="home"><a href="/admin">Home</a>
		<div class="header">
		  <h1>Welcome to Online Python - Exercise solutions</h1>
		</div>
		<div class="content">
			<table>
			  <tr>
				<td>
				  Name:
				</td>
				<td>
				  {{ friendly_name }}
				</td>
			  </tr>
			  <tr>
				<td>
				  Submits:
				</td>
				<td>
				  {{ submits }}
				</td>
			  </tr>
			</table>
		</div>
		{% for solution in solutions %}
			<div class="solution">
                       User: {{ solution.interview.full_name }}
				<div class="code">
					<textarea id="editor{{ solution.id }}" style="width: 400px; height: 150px">{{ solution.submitted_code }}</textarea>
				</div>
			</div>
		{% endfor %}
		<div class="footer">
			<a href="/admin/logout">Logout</a>
		</div>
	</div>
  </body>
</html>
