<!DOCTYPE html>
<html>
  <head>
    <title>Online Python - Admin console</title>
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
	<div class="container">
		<span class="home"><a href="/admin">Home</a>
		<div class="header">
		  <h1>Welcome to Online Python - Exercise solutions</h1>
		</div>
		<div class="content">
			<table>
			  <tr>
				<td>
				  Name:
				</td>
				<td>
				  {{ friendly_name }}
				</td>
			  </tr>
			  <tr>
				<td>
				  Submits:
				</td>
				<td>
				  {{ submits }}
				</td>
			  </tr>
			</table>
		</div>
		{% for solution in solutions %}
			<div class="solution">
				User:
				<div class="code">
					<pre>{{ solution.submitted_code }}</pre>
				</div>
			</div>
		{% endfor %}
		<div class="footer">
			<a href="/admin/logout">Logout</a>
		</div>
	</div>
  </body>
</html>
