<!DOCTYPE html>
<html>
  <head>
    <title>Online Python - Exercise info</title>
    <link href="/public/style.css" rel="stylesheet" />
  </head>
  <body>
	<div class="container">
		<span class="home"><a href="/admin">Home</a>
		<div class="header">
		  <h1>Welcome to Online Python - Exercise info</h1>
		</div>
		<div class="content">
			<table>
			  <tr>
				<td>
				  Name:
				</td>
				<td>
				  {{ friendly_name }}
				</td>
			  </tr>
			  <tr>
				<td>
				  Submits:
				</td>
				<td>
				  {{ submits }}
				</td>
			  </tr>
			  <tr>
				<td>
				  Correct submits:
				</td>
				<td>
				  {{ correct_percent }}
				</td>
			  </tr>
                   {% if submits > 0 %}
			  <tr>
				<td>
				  Average memory usage:
				</td>
				<td>
				  <img src="/public/plot/hist_avg_mem_ex_{{ exercise_id }}.png" />
				  <img src="/public/plot/plot_avg_mem_ex_{{ exercise_id }}.png" />
				</td>
			  </tr>
			  <tr>
				<td>
				  Average time usage:
				</td>
				<td>
				  <img src="/public/plot/hist_avg_time_ex_{{ exercise_id }}.png" />
				  <img src="/public/plot/plot_avg_time_ex_{{ exercise_id }}.png" />
				</td>
			  </tr>
                   {% endif %}
			</table>
                 <br />
                 <a href="/admin/info_exercise?exercise_id={{ exercise_id }}&force=yes">Update graphs</a>
		</div>
		<div class="footer">
			<a href="/admin/logout">Logout</a>
		</div>
	</div>
  </body>
</html>
