<!DOCTYPE html>
<html>
    <head>
        <title>Online Python - Admin console</title>
    </head>
    <body>
        <div class="header">
            <h1>Welcome to Online Python - Admin console</h1>
        </div>
        <div class="content">
            <form id="adminLogin" action="doAdminLogin" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username"/></br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"/></br>
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="footer">
        </div>
    </body>
</html>
