<!DOCTYPE html>
<html>
  <head>
    <title>Online Python</title>
    <link href="/public/style.css" rel="stylesheet" />
  </head>
  <body>
	<div class="container">
		<div class="header">
		  <h1>Welcome to Online Python</h1>
		</div>
		<div class="content">
                 <p>Hello {{ full_name }}!</p>
                 <p>Below you can find list of exercises that you should perform. When you open an exercise you will see a detailed description of what you have to do.</p>
			<table class="exercisetable">
				<tr>
					<th id="firstrow">
						Exercise
					</th>
					<th>
						Correct script submitted
					</th>
				</tr>
				{% if not exercises|exists %}
					<tr>
						<td>
							<i>There are no exercises defined.</i>
						</td>
					</tr>
				{% else %}
					{% for exercise in exercises %}
						<tr>
							{% if exercise.id in selected_exercises %}
								{% if exercise.id in correct_exercises %}
								      <td>
									     {{ exercise.friendly_name }}
								      </td>
									<td>
										Yes
									</td>
								{% else %}
                                                   <td>
									     <a href="/submit?ex_id={{ exercise.id }}">{{ exercise.friendly_name }}</a>
								      </td>
									<td>
										No
									</td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
				{% endif %}
				</tr>
			</table>
		</div>
		<div class="footer">
			<a href="/logout">Logout</a>
		</div>
	</div>
  </body>
</html>
