<!DOCTYPE html>
<html>
  <head>
    <title>Online Python</title>
    <link href="/public/style.css" rel="stylesheet" />
  </head>
  <body>
	<div class="loginbox">
		<div class="header">
		  <h1>Welcome to Online Python</h1>
		</div>
		<div class="content">
		  <form id="interviewLogin" action="doInterviewLogin" method="post">
			<table>
			  <tr>
				<td>
				  <label for="username">Username:</label>
				</td>
				<td>
				  <input type="text" name="username" id="username" />
				</td>
			  </tr>
			  <tr>
				<td>
				  <label for="password">Password:</label>
				</td>
				<td>
				  <input type="password" name="password" id="password" />
				</td>
			  </tr>
			  <tr>
				<td colspan="2">
				  <button type="submit">Login</button>
				</td>
			  </tr>
			</table>
		  </form>
		</div>
		<div class="footer">
			<a href="/admin/">Admin login</a>
		</div>
	</div>
  </body>
</html>
