<!DOCTYPE html>
<html>
  <head>
    <title>Online Python - Home</title>
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <h1>Welcome to Online Python {{ full_name }}</h1>
    </div>
    <div class="content">
		<table>
			<tr>
				<td>
					Exercises for this you:
				</td>
				<td>
					{% if not exercises|exists %}
						<i>There are no exercises defined.</i>
					{% else %}
						{% for exercise in exercises %}
							{% if exercise.id in selected_exercises %}
								<a href="/submit?ex_id={{ exercise.id }}">{{ exercise.friendly_name }}</a>
								<br />
							{% endif %}
						{% endfor %}
					{% endif %}
				</td>
			</tr>
		</table>
    </div>
    <div class="footer"></div>
  </body>
</html>
