<!DOCTYPE html>
<html>
    <head>
        <title>Online Python</title>
    </head>
    <body>
        <div class="header">
            <h1>Welcome to Online Python</h1>
        </div>
        <div class="content">
            <form id="interviewLogin" action="doInterviewLogin" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username"/></br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"/></br>
                <button type="submit">Start test</button>
            </form>
        </div>
        <div class="footer">
        </div>
    </body>
</html>
