<!DOCTYPE html>
<html>
  <head>
    <title>Online Python - Submit</title>
    <link href="/static/style.css" rel="stylesheet" />
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
	<script src="/static/codemirror/lib/codemirror.js"></script>
	<script src="/static/codemirror/mode/python/python.js"></script>
	<script>
		function editor(id) {
			CodeMirror.fromTextArea(document.getElementById(id), {
				lineNumbers: true,
				tabMode: "indent",
				theme: "eclipse",
				mode: "python"
			});
		}
	</script>
  </head>
  <body onload="editor('script')">
	<div class="container">
		<div class="header">
		  <h1>Submit your solution</h1>
		</div>
		<div class="content">
              <h3>{{ title }}</h3>
              <p>{{ desc }}</p>
              <p>You should be able to do this exercise in less than {{ time }} minutes.</p>
		   <form id="submitExercise" action="submitExercise" method="post">
			<textarea type="text" name="script" id="script" style="width: 400px; height: 150px"></textarea><br />
			<input type="hidden" name="exercise_id" id="exercise_id" value="{{ exercise_id }}" /> 
			<button type="submit">Submit exercise</button></td>
		   </form>
		</div>
		<div class="footer">
               <a href="/interview">Back to list of exercises</a>
		</div>
	</div>
  </body>
</html>
