<!DOCTYPE html>
<html>
  <head>
    <title>Online Python - Home</title>
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
	<div class="container">
		<div class="header">
		  <h1>Welcome to Online Python {{ full_name }}</h1>
		</div>
		<div class="content">
			<table class="exercisetable">
				<tr>
					<th id="firstrow">
						Exercise
					</th>
					<th>
						Correct script submitted
					</th>
				</tr>
				{% if not exercises|exists %}
					<tr>
						<td>
							<i>There are no exercises defined.</i>
						</td>
					</tr>
				{% else %}
					{% for exercise in exercises %}
						<tr>
							{% if exercise.id in selected_exercises %}
								<td>
									<a href="/submit?ex_id={{ exercise.id }}">{{ exercise.friendly_name }}</a>
								</td>
								{% if exercise.id in correct_exercises %}
									<td>
										Yes
									</td>
								{% else %}
									<td>
										No
									</td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
				{% endif %}
				</tr>
			</table>
		</div>
		<div class="footer">
			<a href="/logout">Logout</a>
		</div>
	</div>
  </body>
</html>
